@using CompanyRestaurant.MVC.Models.ViewModels.RecipeVM
@model UpdateRecipeVM
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6">
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Reçete Güncelle</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label>Reçete Adı</label>
                    <input asp-for="Name" class="form-control" placeholder="Reçete adı girin">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Hizmet Durumu</label>
                    <input asp-for="Serves" class="form-control" placeholder="Hizmet durumu girin">
                    <span asp-validation-for="Serves" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Hazırlanma Süresi</label>
                    <input asp-for="PreparationTime" class="form-control" type="time" placeholder="Hazırlanma süresi girin">
                    <span asp-validation-for="PreparationTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Pişme Süresi</label>
                    <input asp-for="CookingTime" class="form-control" type="time" placeholder="Pişme süresi girin">
                    <span asp-validation-for="CookingTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Talimatlar</label>
                    <input asp-for="Instructions" class="form-control" placeholder="Talimatlar girin">
                    <span asp-validation-for="Instructions" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Reçete Resmi</label>
                    <input asp-for="RecipeImage" type="file" class="form-control" />
                    <span asp-validation-for="RecipeImage" class="text-danger"></span>
                </div>
                @if (Model.RecipeImage != null)
                {
                    <div class="form-group">
                        <img src="@Model.RecipeImage" alt="Mevcut Reçete Resmi" class="img-thumbnail mb-2">
                        <input type="hidden" asp-for="RecipeImage" />
                    </div>
                }

                <div class="form-group">
                    <label>Aktif mi?</label>
                    <div>
                        <label>
                            <input type="radio" asp-for="IsActive" value="true" checked />
                            Evet
                        </label>
                        <label>
                            <input type="radio" asp-for="IsActive" value="false" />
                            Hayır
                        </label>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Güncelle</button>
            </div>
        </form>
    </div>
</div>

