@model CompanyRestaurant.MVC.Models.EmployeeVM.EmployeeViewModel;

@{
    ViewData["Title"] = "Yeni Çalışan Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Adı</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Surname" class="control-label">Soyadı</label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title" class="control-label">Unvan</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TC" class="control-label">TC Kimlik No</label>
        <input asp-for="TC" class="form-control" />
        <span asp-validation-for="TC" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Phone" class="control-label">Telefon Numarası</label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PerformanceReviewCount"></label>
        <input asp-for="PerformanceReviewCount" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Status"></label>
        <input asp-for="Status" class="form-control" />
    </div>

    <div class="form-group">
        <div class="form-check">
            <input asp-for="IsActive" class="form-check-input" />
            <label class="form-check-label" asp-for="IsActive">Aktif Mi?</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">İptal</a>
</form>
