@using CompanyRestaurant.MVC.Models.ViewModels.CustomerVM;


@model UpdateCustomerVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Müşteri Güncelle</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="post">
            <div class="card-body">
                <div class="form-group">
                    <label>Adı</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Ad girin">
                </div>
                <div class="form-group">
                    <label>Soyad</label>
                    <input asp-for="Surname" type="text" class="form-control" placeholder="Soyadı girin">
                </div>
                <div class="form-group">
                    <label>Telefon</label>
                    <input asp-for="Phone" type="number" class="form-control" placeholder="Telefon girin">
                </div>
                <div class="form-group">
                    <label> Mail</label>
                    <input asp-for="Email" type="text" class="form-control" placeholder="Mail giriniz">
                </div>

                <div class="form-group">
                    <label>Açıklama</label>
                    <input asp-for="Description" type="text" class="form-control" placeholder="Açıklama giriniz">
                </div>

                <div class="form-group">
                    <label>Aktif mi?</label>
                    <div>
                        <label>
                            <input type="radio" asp-for="IsActive" value="true" checked />
                            Evet
                        </label>
                        <label>
                            <input type="radio" asp-for="IsActive" value="false" />
                            Hayır
                        </label>
                    </div>
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Güncelle</button>
            </div>
        </form>
    </div>
</div>

