@using CompanyRestaurant.MVC.Models.ViewModels.UnitStockVM;


@model CreateUnitStockVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Birim-Stok Oluştur</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label>Malzeme</label>
                    <select asp-for="MaterialID" asp-items="@ViewBag.MaterialsSelect" class="form-control">
                        <option value="">Lütfen Malzeme Seçiniz</option>
                    </select>
                    <span asp-validation-for="MaterialID" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Stok</label>
                    <input asp-for="Stock" type="number" class="form-control" placeholder="Stok girin">
                </div>
                <div class="form-group">
                    <label>Kritik Stok</label>
                    <input asp-for="CriticalStock" type="number" class="form-control" placeholder="Kritik Stok girin">
                </div>
                <div class="form-group">
                    <label>Minimum Stok</label>
                    <input asp-for="MinimumStockLevel" type="number" class="form-control" placeholder="Minimum Stok girin">
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Oluştur</button>
            </div>
        </form>
    </div>
</div>

