@model CompanyRestaurant.MVC.Models.OrderVM.OrderViewModel

@{
    ViewData["Title"] = "Sipariş Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="alert alert-danger">
        <strong>Uyarı!</strong> Bu Siparişi sildiğinizde geri alınamaz. Sipariş: @Model.OrderName
    </div>
        <button type="submit" class="btn btn-danger">Evet, Sil</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">İptal</a>
    
</form>