@model CompanyRestaurant.MVC.Models.ResetPasswordVM.ResetPasswordViewModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Şifre Yenile</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/colorlib-regform-32/css/nunito-font.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="~/colorlib-regform-32/css/style.css" />
</head>
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="~/colorlib-regform-32/images/Sauce1.jpg" alt="form" style="width:484px; height:584px">
			</div>
			<form class="form-detail" method="post">
				<h2>Şifre Yenile</h2>

				<div class="form-row">
					<input type="email" id="email" class="input-text" placeholder="Mail" asp-for="Email" required>
				</div>

				<div class="form-row">
					<input type="password" id="password" class="input-text" placeholder="Şifre" asp-for="Password" required>
				</div>

				<div class="form-row">
					<input type="password" id="confirmpassword" class="input-text" placeholder="Şifre Tekrar" asp-for="ConfirmPassword" required>
				</div>


				<div class="form-row">
					<input type="number" id="code" class="input-text" placeholder="Kod" asp-for="Code" required>
				</div>


				<div class="card-footer text-center">
					<button class="btn btn-lg btn-primary btn-block" type="submit">Onayla</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>